.navbar{
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    min-height: 50px;
    display: flex;
    font-size: calc(10px + 2vmin);
    width: 100%;
    background-color: lightblue;
}
.logoButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 2px;
    float: left;
}
.loginButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    border-color: #181818;
    background-color: #FFFFFF;
    border-width: 2px;
    text-decoration: none;
    font-family: Bahnschrift;
}
.registerButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #181818;
    border-width: 2px;
    font-family: Bahnschrift;
}
.cartButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #181818;
    border-width: 2px;
    font-family: Bahnschrift;
}
.dashboardButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #181818;
    border-width: 2px;
    font-family: Bahnschrift;
}
.menuButtons{
    display: flex;
    width: 100%;
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 10px;
}

.userLabel{
    margin-right: 60px;
    color: black;

}