.navbar{
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    min-height: 50px;
    display: flex;
    font-size: calc(10px + 2vmin);
    width: 100%;
}
.logoButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 2px;
    float: left;
}
.loginButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #181818;
    border-width: 2px;
}
.registerButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #181818;
    border-width: 2px;
}
.cartButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #181818;
    border-width: 2px;
}
.dashboardButton{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    elevation: 3deg;
    background-color: #FFFFFF;
    border-color: #181818;
    border-width: 2px;
}
.menuButtons{
    display: flex;
    justify-content: right;
    width: 100%;
}