.dashboardFeatures{
    display: flex;
    justify-content: center;
}

.headline{
    display: flex;
    justify-content: center;
}

.myChart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.chartText{

}



